body, html {
    background: #2A363B;
    color: #fff;
    font-family: sans-serif;
}

.col-xs-6{
    width: 45%;
    height: 100%;
    margin: 25px;
}

.example-box {
    padding: 20px;
}

.title{
    font-family: 'Fugaz One', cursive;
    font-size: 3em;
    margin: 50px auto;
    width: 100%;
    text-align: center;
}

.code-block{
    margin: 0 auto;
    font-size: 2em;
}

.example{
    font-size: 1.75em;
}

.description{
    width: 80%;
    height: 150px;
    text-align: center;
    font-size: 2em;
    margin: 25px auto;
}

.wodry {
    color: #9fffef;
}
.wodryRX {
    color: #c5ff71;
}
.wodryRY {
    color: #84caff;
}
.dr{
    color: #c0ff53;
}
.titleItems{
    color: #71dbff;
}
