body, html {
    background: #2A363B;
    color: #fff;
    font-family: sans-serif;
}

.col-xs-6{
    width: 45%;
    height: 100%;
    margin: 25px;
}

.example-box {
    padding: 20px;
}

.code-block{
    margin: 0 auto;
    font-size: 2em;
}

.example{
    font-size: 1.75em;
}

.wodry {
    color: #E84A5F;
}
.wodryX {
    color: #c5ff71;
}
.wodryY {
    color: #84caff;
}
.wodrySX {
    color: #ff7fa2;
}
.wodrySY {
    color: #9587ff;
}
.wodrySAll {
    color: #8dffc2;
}
.wodryClockwise {
    color: #ebff93;
}
.wodryAnticlockwise {
    color: #9fffef;
}
