body, html {
    background: #2A363B;
    color: #fff;
    font-family: sans-serif;
}

.col-xs-6{
    width: 45%;
    height: 100%;
    margin: 25px;
}

.example-box {
    padding: 20px;
}

.logo, .title{
    font-family: 'Fugaz One', cursive;
    font-size: 4em;
    margin: 50px auto;
    width: 100%;
    text-align: center;
}

.title{
    font-family: sans-serif;
    margin: 20px auto;
    margin-bottom: 40px; 
}

.content{
    font-size: 1.5em;
}
.content-block{
    margin: 50px auto;
}
.content-block p {
    margin: 20px;
}

.content-block li strong{
    color: #71dbff;
}

.code-block{
    margin: 0 auto;
    font-size: 2em;
}

.example{
    font-size: 1.75em;
}

.description{
    width: 80%;
    height: 150px;
    text-align: center;
    font-size: 2em;
    margin: 25px auto;
}

.wodry {
    color: #9fffef;
}
.wodryRX {
    color: #c5ff71;
}
.wodryRY {
    color: #84caff;
}
.dr{
    color: #c0ff53;
}
.titleItems{
    color: #71dbff;
}
.license{
    font-size: 1em;
    text-align: justify;
}
.license p {
    margin: 20px auto;
}
